.gallery-slider {
    @extend .d-grid;
    
    @include media-breakpoint-up( md ) {
        --gallery-slider-columns: var(--gallery-slider-thumbnail-w) minmax(0, 1fr);
    }
}
.gallery-slider-canvas-container {
    @extend .order-2;
    max-width: 100%;

    .swiper-wrapper {
        @extend .align-items-center;
    }
    .slider-control-button {
        @extend .position-absolute, .translate-middle;

        &[data-sh-slider-control="prev"] {
            @extend .top-50, .start-0;
        }

        &[data-sh-slider-control="next"] {
            @extend .top-50, .start-100;
        }
    }
}
.gallery-slider-canvas {
    overflow: hidden;
}
.gallery-slider-canvas-image {
    @extend .img-fluid;
    display: block;
    width: 100%;
}
.gallery-slider-thumbnails {
    @extend .d-none, .d-md-flex, .flex-column, .gap-3;
}
.gallery-slider-thumbnail {
    @extend .p-1;
    border-radius: var(--thumbnail-border-radius, var(--border-radius));

    > img {
        @extend .img-fluid;
        width: 100%;
        display: block;
        cursor: pointer;
    }

    &.active {
        box-shadow: 0 0 0 3px var(--thumnail-active-color, var(--primary));
    }
}
