.buy-form {
    @extend .d-flex, .flex-row, .flex-wrap, .gap-3;

    .quantity-input {
        flex: 0 auto;
    }

    .btn-buy {
        white-space: nowrap;
        flex: 1 0%;
    }
}
.product-wishlist-action {

    .wishlist-icon {
        @extend .sh-icon, .icon-heart;
    }
    
    &.product-wishlist-added {

        .wishlist-icon {
            @extend .icon-heart-fill;
        }
    }
}