:root {
    @include cssVarByMap(gap, $gaps);
    @include cssVarByMap(font-size, $fontSizes);
    @include cssVarByMap(icon-size, $iconSizes);
    /** @todo put in mixin */
    --padding-y: ;
    --padding-x: ;
    --page-bg: ;
    --header-bg: var(--page-bg);
    --footer-bg: var(--page-bg);
    --input-padding-x: var(--gap);
    --input-padding-y: 10px;
    --input-font-size: var(--font-size);
    --input-border-color: var(--border-color);
    --input-border-radius: var(--border-radius);
    --input-line-height: var(--body-line-height);
    --input-icon-color: var(--primary);
    --input-hover-border-color: var(--primary);
    --input-label-color: var(--body-color);
    --form-columns: ;
    --form-gap: var(--gap-md);
    --form-group-gap: var(--gap-xs);
    // line-item
    --line-item-columns: minmax(0, 1fr);
    --line-item-gap: var(--gap);
    --line-item-padding-x: 0;
    --line-item-padding-y: var(--gap-lg);
    --line-item-border-color: var(--border-color);
    --line-item-label-color: var(--body-color);
    --line-item-label-size: var(--font-size);
    // checkout-methods
    --checkout-method-title-color: var(--body-color);
    --checkout-method-title-weight: 600;
    --checkout-method-bg: var(--dark);
    --checkout-method-border-radius: var(--border-radius-xl);
    --checkout-method-border-color: var(--dark);
    --checkout-method-hover-border-color: var(--gray-700);
    --checkout-method-gap: var(--gap-xs);
}