$gaps: (
    '2xs': 4px,
    'xs': 8px,
    'sm': 12px,
    'default': 16px,
    'md': 20px,
    'lg': 24px,
    'xl': 32px,
    '2xl': 40px,
    '3xl': 64px
) !default;

$fontSizes: (
    'xs': 12px,
    'sm': 14px,
    'default': 16px,
    'md': 20px,
    'lg': 24px,
    'xl': 32px,
) !default;

$iconSizes: (
    'xs': 12px,
    'sm': 16px,
    'default': 20px,
    'md': 24px,
    'lg': 32px,
) !default;