.btn {
    @extend .d-inline-flex, .align-items-center, .justify-content-center;
    --btn-gap: var(--spacer-sm);
    /** @todo turn into css var **/
    --btn-icon-size: 20px;
    gap: var(--btn-gap);
    
    &.btn-sm,
    .input-group-sm & {
        /** @todo turn into css var **/
        --btn-icon-size: 16px;
    }

    .icon,
    .sh-icon {
        font-size: var(--btn-icon-size);
    }
}
