.btn {
    @extend .d-inline-flex;
    --btn-gap: var(--spacer-sm);
    /** @todo turn into css var **/
    --btn-icon-size: 20px;
    gap: var(--btn-gap);
    justify-content: var(--btn-justify-content, center);
    align-items: var(--btn-align-items, center);
    
    &.btn-sm,
    .input-group-sm & {
        /** @todo turn into css var **/
        --btn-icon-size: 16px;
    }

    .icon,
    .sh-icon {
        font-size: var(--btn-icon-size);
    }
}
