.nav-link {
    background-color: var(--nav-link-bg-color);
    border-radius: var(--nav-link-border-radius);
    
    &:hover {
        background-color: var(--nav-link-hover-bg-color);
        font-weight: var(--nav-link-hover-font-weight);

        .icon, 
        .sh-icon {
            color: var(--nav-link-hover-icon-color);
        }
    }

    &.active,
    &:active,
    &:focus {
        color: var(--nav-link-active-color);
        background-color: var(--nav-link-active-bg-color);
        font-weight: var(--nav-link-active-font-weight);
    }

    .icon, 
    .sh-icon {
        color: var(--nav-link-icon-color);
        font-size: var(--nav-link-icon-size);
    }
}