.login-form {
    --padding-y: var(--gap-md);
    --padding-x: 0;
    --margin-b: var(--gap-sm);
    --form-columns: 1fr;
    display: grid;
    grid-template-columns: var(--form-columns);
    gap: var(--form-gap);
    padding: var(--padding-y) var(--padding-x);
    margin-bottom: var(--margin-b);


    @include media-breakpoint-up( md ) {
        --form-columns: 1fr 1fr;
    }

    .form-group {
        width: auto !important;
    }
}

.login-form-description {
    margin: 0;
}

.login-actions {
    --list-gap: var(--gap-sm);
    display: flex;
    flex-direction: column;
    gap: var(--list-gap);

    @include media-breakpoint-up( lg ) {
        flex-direction: row;
    }
}

.account-menu-dropdown {
    padding: var(--dropdown-padding-y) var(--dropdown-padding-x);

    .offcanvas-header {
        display: none !important;
    }
}

.account-menu-header {
    --margin-b: var(--gap);
    font-size: var(--font-size);
    font-weight: 600;
    color: var(--dropdown-color);
    border-color: var(--border-color);
    margin-bottom: var(--margin-b);
}

.account-aside-btn {
    @extend .btn-sm;
}

.account-aside-footer {
    padding: 0 !important;
    margin-top: var(--dropdown-padding-y) !important;
}

.account-content {
    --columns: 1fr;
    margin: 0 !important;
    display: grid;
    grid-template-columns: var(--columns);
    gap: var(--gap-xl);

    @include media-breakpoint-up( lg ) {
        --columns: 260px minmax(0, 1fr);
    }

    .account-content-main,
    .account-content-aside {
        padding: 0 !important;
        width: 100%;
        margin: 0 auto;
    }

    .account-content-main {
        max-width: 800px;
    }
}

.account-aside {
    background-color: var(--sidebar-bg);
    border-radius: var(--sidebar-border-radius);
    box-shadow: var(--sidebar-shadow);
}

#profilePersonalForm,
#profileMailForm,
#profilePasswordForm,
.account-address-form form {
    @extend .form-flex;
}

.account-profile-required-info, 
.address-required-info {
    flex: 1 1 100%;
    margin: 0;
}

.account-credentials-nav {
    --columns: 1fr;
    display: grid;
    gap: var(--gap);
    grid-template-columns: var(--columns);
    align-items: center;

    @include media-breakpoint-up( xl ) {
        --columns: 1fr auto auto;
    }
}

.account-profile-change {
    &.collapsed {
        @extend .btn-light;
    }
}