.cart-table {
    display: flex;
    flex-direction: column;
    gap: var(--line-item-gap);
}
.cart-table-header {
    --card-title-font-size: var(--font-size);
    --cart-table-header-display: none;
    --cart-table-header-columns: 1fr auto 120px 120px;
    --cart-table-header-gap: var(--gap);
    --cart-table-header-display: none;
    grid-template-columns: var(--cart-table-header-columns);
    grid-gap: var(--cart-table-header-gap);
    display: var(--cart-table-header-display);
    align-items: center;

    @include media-breakpoint-up( xl ) {
        --cart-table-header-display: grid;
    }
}
.cart-header-quantity {
    text-align: left;
}
.cart-additional-actions {
    --columns: 1fr;
    display: grid;
    grid-template-columns: var(--columns);
    gap: var(--gap);

    @include media-breakpoint-up( xl ) {
        --columns: auto 1fr;
    }
}
.cart-add-product-container {
    margin: 0;
}
.cart-add-product {
    max-width: none;
}
.cart-shipping-costs-container {

    [data-bs-toggle="collapse"] {
        width: 100%;

        @include media-breakpoint-up( xl ) {
            width: auto;
        }
    }

    #collapseShippingCost {
        --padding-y: var(--gap-lg);
        --padding-x: 0;
        flex-direction: column;
        gap: var(--gap);
        padding: var(--padding-y) var(--padding-x);

        &.show {
            display: flex;
        }
    }
}