.checkout-container {
    --checkout-columns: 1fr;
    --checkout-gap: var(--gap-3xl);
    --checkout-aside-width: 280px;
    display: grid !important;
    grid-template-columns: var(--checkout-columns);
    grid-gap: var(--checkout-gap);
    margin: 0 !important;

    @include media-breakpoint-up( xl ) {
        --checkout-columns: minmax(0, 1fr) var(--checkout-aside-width);
    }

    @include media-breakpoint-up( xxl ) {
        --checkout-aside-width: 320px;
    }

    .checkout-main,
    .checkout-aside {
        width: auto !important;
        flex-basis: auto !important;
        padding: 0 !important;
        margin: 0 !important;
    }
}

.checkout-aside-container {
    position: sticky;
    top: 40px;
}

.checkout-aside-summary-list {
    --summary-list-columns: minmax(0, 1fr) auto;
    --summary-list-gap: var(--gap-xs);
    --summary-list-mb: var(--gap-xl);
    display: grid;
    grid-template-columns: var(--summary-list-columns);
    grid-row-gap: var(--summary-list-gap);
    margin-bottom: var(--summary-list-mb);
}

.checkout-aside-summary-label,
.checkout-aside-summary-value {
    --summary-item-padding-y: 0;
    --summary-item-padding-x: 0;
    --summary-item-color: inherit;
    --summary-item-font-size: inherit;
    width: auto;
    margin: 0 !important;
    padding: var(--summary-item-padding-y) var(--summary-item-padding-x) !important;
    color: var(--summary-item-color);
    font-size: var(--summary-item-font-size);
}

.checkout-aside-summary-total {
    border: 0 none;
}

.checkout-aside-actions {
    --checkout-actions-gap: var(--gap-lg);
    display: flex;
    flex-direction: column;
    gap: var(--checkout-actions-gap);

    .checkout-aside-action {
        flex: 1 1 100%;
        margin: 0;
    }
}

.shipping-methods,
.payment-methods {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.shipping-form-group,
.payment-form-group {
    --padding-y: var(--gap-md);
    --padding-x: var(--gap-md);
    background-color: var(--checkout-method-bg);
    border: 2px solid var(--checkout-method-border-color);
    border-radius: var(--checkout-method-border-radius);
    padding: var(--padding-y) var(--padding-x);
    transition: all .2s;

    &:hover {
        border-color: var(--checkout-method-hover-border-color);
    }
}

.shipping-method-radio,
.payment-method-radio {
    margin: 0;
}

.shipping-method-description,
.payment-method-description {
    width: auto !important;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    gap: var(--checkout-method-gap);
}

.payment-method-label, 
.shipping-method-label {
    cursor: pointer;
}

.shipping-method-title,
.payment-method-title {
    color: var(--checkout-method-title-color);
    font-weight: var(--checkout-method-title-weight);
}

.shipping-method-description-text,
.payment-method-description-text {
    font-size: var(--font-size-sm);
}

.shipping-method-label,
.payment-method-label {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    align-items: flex-start;
}

.shipping-method-image,
.payment-method-image {
    order: 2;
    max-height: none;
    margin: 0;
    float: none;
    flex: 1 0;
    max-width: 100px;
}