.footer-minimal,
.footer-main {
    background-color: var(--footer-bg);
}

.footer-columns {
    --padding-y: var(--gap-2xl);
    --padding-x: 0;
    --footer-columns: 1fr;
    --footer-columns-gap: var(--gap-2xl);
    display: grid;
    grid-template-columns: var(--footer-columns);
    gap: var(--footer-columns-gap);
    margin: 0 !important;
    padding: var(--padding-y) var(--padding-x);
}

.footer-column {
    --footer-column-gap: var(--gap);
    display: flex;
    flex-direction: column;
    gap: var(--footer-column-gap);
    padding: 0 !important;
}

.footer-column-headline {
    padding: 0;
    color: var(--color);
}

.contact-channels {
    --contact-channels-gap: var(--gap);
    display: flex;
    flex-direction: column;
    gap: var(--contact-channels-gap);
    color: var(--contact-channels-color);
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-channel {
    --contact-channel-icon-size: var(--icon-size-md);
    --contact-channel-gap: var(--gap);
    display: flex;
    align-items: center;
    gap: var(--contact-channel-gap);

    .icon {
        @include iconSize(var(--contact-channel-icon-size));
    }
}