.line-item {
    /** @todo replace static value with css var */
    --line-item-label-weight: 500;
    display: grid;
    grid-gap: var(--line-item-gap);
    padding: 0 var(--line-item-padding-x) var(--line-item-padding-y);
    border-color: var(--line-item-border-color);
    grid-template-columns: var(--line-item-columns);

    &.is-default {
        @include media-breakpoint-up( xl ) {
            --line-item-columns: 1fr 120px 120px 120px;
        }
    }

    &.is-offcanvas {
        --line-item-columns: minmax(0, 1fr) auto;

        .line-item-remove {
            order: 2;
        }

        .line-item-quantity {
            --columns: minmax(0, 1fr) auto;
        }

        .line-item-quantity,
        .line-item-unit-price,
        .line-item-total-price {
            grid-column: 1 / 3;
        }
    }
}

.line-item-info {
    --image-col-width: 100px;
    display: grid;
    grid-template-columns: var(--image-col-width) minmax(0, 1fr);
    grid-gap: var(--line-item-gap);
    margin: 0;
}

.line-item-details-container {
    padding: 0 !important;
}

.line-item-label {
    display: inline-flex;
    margin-bottom: var(--gap-sm);
}

.line-item-info-img {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.line-item-img-container {
    width: auto;
}

.line-item-img {
    --padding-x: 0;
    --padding-y: 0;
    height: auto;
    padding: var(--padding-y) var(--padding-x);
    border: 0 none;
}

.line-item-quantity {
    --columns: 1fr;
    margin: 0;
    display: grid !important;
    grid-template-columns: var(--columns);
    gap: var(--line-item-gap);
    align-items: center;
}

.line-item-quantity-label {
    margin: 0;
    padding: 0;
    width: auto !important;
    text-align: right;
}

.line-item-quantity-select-wrapper {
    width: auto !important;
    padding: 0 !important;
}

.line-item-remove-button {
    --input-padding-x: var(--gap-xs);
}

.line-item-label,
.line-item-quantity-label, 
.line-item-unit-price-label, 
.line-item-total-price-label, 
.line-item-tax-price-label {
    color: var(--line-item-label-color);
    font-size: var(--line-item-label-size);
    font-weight: var(--line-item-label-weight);
}

.line-item-info, 
.line-item-details, 
.line-item-quantity, 
.line-item-unit-price, 
.line-item-total-price, 
.line-item-tax-price, 
.line-item-remove {
    width: auto !important;
    padding: 0;
}
