.main-navigation {
    background-color: var(--main-navigation-bg);
    box-shadow: var(--main-navigation-shadow);
    position: relative;
}

.main-navigation-link {

    &.is-open {
        color: var(--nav-link-hover-color);
    }

}

.navigation-flyouts {
    top: 100%;
}

.navigation-flyout {
    background-color: var(--navigation-flyout-bg);

    > .container {
        padding: 0;
    }
}

.navigation-flyout-content {
    --flyout-padding-y: var(--gap-lg);
    --flyout-padding-x: var(--flyout-padding-y);
    --flyout-gap: var(--gap-lg);
    padding: var(--flyout-padding-y) var(--flyout-padding-x);
    gap: var(--flyout-gap);
    margin: 0;

    > * {
        width: auto;
        padding: 0;
    }
}

.navigation-flyout-teaser {
    --max-w: 500px;
    flex: 0 0 auto;
    width: 100%;
    max-width: var(--max-w);
}

.navigation-flyout-categories {
    --nav-direction: row;
    --nav-flex: 1 1;
    --nav-gap-y: var(--gap-2xl);
    --nav-gap-x: 0;
    --nav-gap: var(--nav-gap-y) var(--nav-gap-x);
    flex: var(--nav-flex);
    flex-direction: var(--nav-direction);
    margin: 0;
    gap: var(--nav-gap);
}

.navigation-flyout-col {
    --nav-col-grow: 1;
    --nav-col-shrink: 0;
    --nav-col-basis: 0%;
    --nav-col-flex: var(--nav-col-grow) var(--nav-col-shrink) var(--nav-col-basis);
    --nav-col-padding-y: 0px;
    --nav-col-padding-x: 0px;
    --nav-col-gap: 0px;
    --nav-col-direction: column;
    display: flex;
    flex-direction: var(--nav-col-direction);
    flex: var(--nav-col-flex);
    padding: var(--nav-col-padding-y) var(--nav-col-padding-x);
    gap: var(--nav-col-gap);
    width: auto;
    break-inside: avoid;
}
