.order-table {
    --order-item-padding-y: var(--gap-md);
    --order-item-padding-x: var(--gap-md);
    --order-item-gap: var(--gap);
    background-color: var(--order-table-bg);
    border-color: var(--order-table-border-color);
    border-radius: var(--order-table-border-radius);
    overflow: hidden;

    .order-detail-content {
        border-color: var(--order-table-border-color);
    }
}

.order-item-header {
    padding: 0;
}

.order-item-context {
    display: flex;
    gap: var(--order-item-gap);
    padding: var(--order-item-padding-y) var(--order-item-padding-x);
    justify-content: space-between;
}

.order-table-header-heading {
    max-width: none;
    margin: 0 0 var(--order-item-gap);
    font-weight: 500;
    line-height: var(--body-line-height);
}

.order-table-header-order-status {
    margin: 0;
}

.order-table-header-order-number {
    margin: 0;
    padding: var(--order-item-gap) 0 0;
}

.order-table-header-context-menu-wrapper {
    position: static;
    width: auto;
    margin: 0;
}

.order-table-header-context-menu {
    width: auto;
    height: auto;
    border-color: var(--btn-border-color);
    border-radius: var(--btn-border-radius);
    padding: var(--gap-xs);
    float: none;

    .icon {
        margin: 0;
        
        > svg {
            color: inherit !important;
        }
    }
}

.order-table-header-context-menu-content-link {
    @extend .btn;
    font-size: var(--font-size-sm);
    justify-content: flex-start;
    padding: var(--gap-xs);
}

.order-detail-content-header {
    display: none;
}

.order-item-information {
    --order-item-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--order-item-gap);
    padding: var(--order-item-padding-y) var(--order-item-padding-x);

    > * {
        width: auto;
        flex: 1 0;
        flex-basis: calc(var(--order-item-basis) - var(--order-item-gap));

        @include media-breakpoint-up( xl ) {
            --order-item-basis: 25%;
        }

        @include media-breakpoint-up( xxl ) {
            --order-item-basis: 0%;
        }
    }

    .order-item-actions {
        --order-item-basis: 100%;
        display: flex;
        justify-content: center;
        padding-top: var(--gap-sm);
    }
}

.order-detail-content-list {

    .line-item {
        margin: 0;
        padding: var(--order-item-padding-y) var(--order-item-padding-x);
        border-bottom: 1px solid var(--order-table-border-color);

        .line-item-quantity, 
        .line-item-total-price, 
        .line-item-unit-price {
            --line-item-gap: var(--gap-xs);
        }

        .line-item-quantity-select-wrapper,
        .line-item-total-price-value, 
        .line-item-unit-price-value {
            flex: 0 0 100px;
        }
    }
}

.order-item-detail-footer {
    padding: var(--order-item-padding-y) var(--order-item-padding-x);
}

.order-item-detail-footnote {
    background-color: transparent;
    font-size: var(--font-size-sm);
    padding: var(--order-item-padding-y) var(--order-item-padding-x);
}

.order-table-header-label {
    display: block;
    float: none;
    width: auto;
}

.order-item-detail-footer {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.order-item-detail-summary {
    margin: 0 !important;
    justify-content: flex-end;
    gap: var(--gap-xs);

    dt, dd {
        margin: 0 !important;
        padding: 0 !important;
        width: auto !important;
        text-align: right;
    }

    dt {
        flex: 1 1;
    }

    dd {
        flex: 0 1 100px;
    }
}
