.register-form {

    .row {
        gap: var(--form-gap);
        margin: 0;
        flex: 1 1 100%;
    }

    .form-group {
        padding: 0;
        margin: 0;
        flex: 1 1 100%;

        @include media-breakpoint-up( md ) {
            flex: 1 0;
        }

        &.group-mail,
        &.group-mail-confirm ,
        &.group-password,
        &.group-password-confirm {
            @include media-breakpoint-up( md ) {
                flex-basis: calc(50% - var(--form-gap));
            }
        }
    }
}

.checkout-register {
    margin: 0 auto;
    max-width: 800px;
}

.register-personal,
.register-billing {
    display: flex;
    flex-wrap: wrap;
    gap: var(--form-gap);
}

.register-billing {
    
    .form-group {
        @include media-breakpoint-up( md ) {
            flex-basis: calc(50% - var(--form-gap));
        }
    }
}

.register-guest-control {
    flex: 1 1 100%;
    margin: 0;
}
