.alert {
    --alert-padding-x: var(--gap);
    --alert-padding-y: var(--gap);
    --alert-border-width: 1px;
    --alert-border: var(--alert-border-width) solid var(--alert-border-color);
    --alert-border-radius: var(--border-radius);
    --alert-icon-color: var(--alert-icon-color);

    .icon {
        color: var(--alert-icon-color);
    }
}