.badge {
    --badge-padding-y: var(--gap-2xs);
    --badge-padding-x: var(--gap-xs);
    --badge-font-size: var(--font-size);
    display: inline-flex;

    .btn & {
        inset: auto;
    }
}

.badge-sm {
    --badge-font-size: var(--font-size-sm);
}