.breadcrumb-link {
    --breadcrumb-link-font-weight: 500;
    font-size: var(--breadcrumb-link-font-size);
    font-weight: var(--breadcrumb-link-font-weight);
    color: var(--breadcrumb-link-color);

    &.is-active {
        --breadcrumb-link-font-weight: 600;
        color: var(--breadcrumb-link-active-color);
    }
}