.btn {
    --btn-padding-x: var(--input-padding-x);
    --btn-padding-y: var(--input-padding-y);
    --btn-line-height: var(--input-line-height);
    --btn-font-size: var(--input-font-size);
    --btn-border-radius: var(--input-border-radius);
    --btn-icon-color: var(--input-icon-color);
    --btn-gap: var(--gap);
    --btn-icon-color: var(--btn-color);
    --btn-icon-size: var(--icon-size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--btn-gap);
    color: var(--btn-color);

    .icon {
        @include iconSize(var(--btn-icon-size));
        color: var(--btn-icon-color);
        transition: all .15s;
    }
}

.btn-sm, 
.btn-group-sm > .btn {
    --input-padding-x: var(--gap-sm);
    --input-padding-y: var(--gap-xs);
    --btn-font-size: var(--font-size-sm);
    --btn-icon-size: var(--font-size-sm);
}