.card {
    --card-title-color: inherit;
    --card-title-font-size: var(--font-size-md);
    --card-title-font-weight: 500;
}
.card-title {
    line-height: inherit;
    color: var(--card-title-color);
    font-size: var(--card-title-font-size);
    font-weight: var(--card-title-font-weight);
}