.category-navigation {
    font-size: inherit !important;
}

.category-navigation-box {
    --category-box-border-width: 1px;
    --category-box-border-color: var(--border-color);
    --category-box-border-radius: var(--border-radius);
    --category-link-size: var(--body-font-size);
    background-color: var(--sidebar-bg);
    border: var(--category-box-border-width) solid var(--category-box-border-color);
    border-radius: var(--category-box-border-radius);
}

.category-navigation-entry {
    border: 0 none !important;

    &:last-child {
        .category-navigation-link {
            border-bottom: 0 none;
        }
    }
}

.category-navigation-link {
    --padding-y: var(--gap-xs);
    --padding-x: var(--gap);
    color: var(--category-link-color);
    font-size: var(--category-link-size);
    padding: var(--padding-y) var(--padding-x);
    border-bottom: var(--category-box-border-width) solid var(--category-box-border-color);

    &.is-active {
        color: var(--category-link-active-color);
    }

    .category-navigation.level-1 & {
        --category-box-border-width: 0;
    }
}