%filter-panel-btn {
    color: var(--filter-btn-color);
    background-color: var(--filter-btn-bg);
    border-color: var(--filter-btn-border);
    font-weight: 400;
    gap: 6px;
}

.filter-panel-items-container {
    gap: 16px;
    margin-bottom: 20px;
}

.filter-panel-active-container {
    --filter-panel-gap: var(--gap);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1 1 100%;
    gap: var(--filter-panel-gap);
}

.filter-active,
.filter-reset-all {
    --btn-padding-y: var(--gap-2xs);
    --btn-font-size: var(--font-size-sm);
    --btn-font-weight: 500;
    display: inline-flex !important;
    margin: 0;
    height: auto !important;
    line-height: var(--btn-line-height) !important;
    padding: var(--btn-padding-y) var(--btn-padding-x);
    border-color: var(--btn-border-color);
    font-weight: var(--btn-font-weight) !important;
}

.filter-panel-item {
    margin: 0;

    .filter-panel-item-toggle {
        @extend %filter-panel-btn;
    }

    &.filter-boolean {
        @extend .btn, %filter-panel-btn;
        height: auto;

        .form-check {
            display: flex;
            align-items: center;
            padding: 0;
            gap: var(--btn-gap);
            min-height: auto;
            margin: 0;
        }

        .filter-boolean-label {
            line-height: inherit;
            height: auto;
            color: var(--btn-color);
        }

        .filter-boolean-input {
            float: none;
            margin: 0;
            flex: 1 0 auto;
        }
    }
}

.filter-panel-wrapper-toggle {
    @extend .d-flex, .d-lg-none;
    padding: var(--btn-padding-y) var(--btn-padding-x) !important;

    .icon {
        margin: 0 !important;
        color: var(--btn-icon-color);
    }

    &:hover {
        background-color: var(--btn-hover-bg) !important;
        color: var(--btn-hover-color) !important;

        .icon {
            color: var(--btn-hover-color) !important;
        }
    }
}

.filter-panel-item-dropdown {
    border-radius: var(--dropdown-border-radius);
    box-shadow: var(--dropdown-box-shadow);

    .cms-block-sidebar-filter & {
        max-height: none;
    }
}

.filter-panel-offcanvas-title {
    color: var(--filter-panel-color);
    line-height: 1;
    font-size: 20px;
    font-weight: 600;
}

.cms-element-sidebar-filter {
    background-color: var(--sidebar-bg);
    margin-bottom: 20px;
}

.filter-multi-select-list-item {
    --btn-padding-y: var(--gap-2xs);
    --btn-padding-x: var(--gap-lg);
    padding: var(--btn-padding-y) var(--btn-padding-x);
}

.filter-active {
    @extend .btn;
}
