[data-quantity-selector] {
    @include cssVarsQuantityField();
    display: grid;
    grid-template-columns: auto minmax(0, 1fr) auto;

    > .btn {
        --btn-padding-y: var(--quantity-field-btn-padding);
        --btn-padding-x: var(--quantity-field-btn-padding);

        .icon {
            --btn-icon-size: var(--quantity-field-icon-size);
        }
    }

    > .form-control {
        --input-padding-y: var(--quantity-field-input-padding);
        --input-font-size: var(--quantity-field-font-size);
        --input-hover-border-color: var(--quantity-field-border-color);
        margin: 0 !important;
        width: auto !important;
        min-width: var(--quantity-field-input-min-width);
    }
}

.form-select,
.form-control {
    font-size: var(--input-font-size);
    line-height: var(--input-line-height);
    padding: var(--input-padding-y) var(--input-padding-x);
    border-color: var(--input-border-color);
    border-radius: var(--input-border-radius);
    
    &:hover {
        border-color: var(--input-hover-border-color);
    }
}

.form-select {
    background-position: right var(--input-padding-x) center;
    cursor: pointer;
}

.form-label {
    color: var(--input-label-color); 
    margin: 0 0 var(--form-group-gap);
}

.form-text {
    display: inline-block;
    margin: var(--form-group-gap) 0 0;
}

.form-group {
    width: auto;
}