[data-quantity-selector] {
    --quantity-field-max-width: 120px;
    display: flex;
    flex-wrap: nowrap;
    max-width: var(--quantity-field-max-width);

    > .btn {
        --btn-padding-y: var(--quantity-field-btn-padding);
        --btn-padding-x: var(--quantity-field-btn-padding);

        .icon {
            --btn-icon-size: var(--quantity-field-icon-size);
            --btn-icon-color: var(--quantity-field-icon-color);
        }
    }

    > .form-control {
        --input-padding-y: var(--quantity-field-input-padding);
        --input-font-size: var(--quantity-field-font-size);
        --input-hover-border-color: var(--quantity-field-border-color);
        flex-basis: 0%;
        margin: 0 !important;
        width: auto !important;
        min-width: var(--quantity-field-input-min-width);
    }
}

.form-select,
.form-control {
    font-size: var(--input-font-size);
    line-height: var(--input-line-height);
    padding: var(--input-padding-y) var(--input-padding-x);
    border-color: var(--input-border-color);
    border-radius: var(--input-border-radius);
    
    &:hover {
        border-color: var(--input-hover-border-color);
    }
}

.form-select {
    background-position: right var(--input-padding-x) center;
    cursor: pointer;
}

.form-label {
    color: var(--input-label-color); 
    margin: 0 0 var(--form-group-gap);
}

.form-text {
    display: inline-block;
    margin: var(--form-group-gap) 0 0;
}

.form-group {
    width: auto;
}

.form-flex {
    display: flex;
    flex-wrap: wrap;
    gap: var(--form-gap);

    .row {
        gap: var(--form-gap);
        margin: 0;
        flex: 1 1 100%;
    }

    .form-group {
        padding: 0;
        margin: 0;
        flex: 1 1 100%;

        @include media-breakpoint-up( md ) {
            flex: 1 0;
        }
    }
}

.input-group-text {
    background-color: var(--input-affix-bg-color);
    color: var(--input-affix-color);
    border-radius: var(--border-radius);

    &:last-child {
        border-left: 0;
    }
}