.gallery-slider,
.gallery-slider-thumbnails-item-inner {
    background-color: var(--box-bg);
}

.gallery-slider-image {
    position: static !important;
    inset: auto !important;
    object-fit: contain !important;
    width: 100% !important;
    margin: 0 !important;
    aspect-ratio: var(--aspect-ratio);
    max-width: var(--max-w);
}

.gallery-slider-container {
    display: flex !important;
    align-items: center !important;
}

.gallery-slider-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto !important;
    min-height: auto !important;
}