.product-box {
    --product-image-bg: transparent;
    --product-image-aspect-ratio: 1 / 1;
    --product-image-border-radius: var(--border-radius);
    --product-name-color: var(--body-color);
    --product-name-size: var(--body-font-size);
    --product-variant-color: var(--body-color);
    --product-description-lines: 2;

    .product-image-wrapper {
        height: auto;
        margin-bottom: 32px;
        flex: 0 0 auto;
        background: transparent none !important;
    }

    .product-image {
        max-height: none;

        .has-element-loader & {
            opacity: 0;
        }
    }
    
    .product-image-link {
        aspect-ratio: var(--product-image-aspect-ratio);
        height: auto;
        padding: 8px;
        background-color: var(--product-image-bg);
        border-radius: var(--product-image-border-radius);

        .has-element-loader & {
            display: block;
        }
    }

    .product-wishlist {
        margin: 0;
        position: absolute;
        top: 16px;
        right: 16px;

        .product-wishlist-action-circle {
            position: relative;
            inset: auto;
        }
    }

    .product-info {
        flex: 1 1 0%;
        display: flex;
        flex-direction: column;
    }

    .product-name {
        color: var(--product-name-color);
        line-height: var(--body-line-height);
        height: auto;
        font-size: var(--product-name-size);

        .has-element-loader & {
        }
    }

    .product-variant-characteristics {
        min-height: auto;
        margin-bottom: 6px;
        color: var(--product-variant-color);

        .product-variant-characteristics-text {
            line-height: inherit;
            height: auto;
            margin: 0;
            padding: 0;
            max-width: none;
        }
    }

    .product-description {
        -webkit-line-clamp: var(--product-description-lines);
        line-height: inherit;
        height: auto;
        margin: 0;

        .has-element-loader & {
        }
    }

    // prices
    .product-price-info {
        margin: auto;
    }

    .product-price-unit {
        height: auto;
        font-size: inherit;
        line-height: inherit;
        margin: 0;
    }

    .product-cheapest-price {
        color: var(--product-price-color);
        min-height: auto;
        font-size: inherit;
        line-height: inherit;
        margin: 0;

        .product-cheapest-price-price {
            font-weight: inherit;
        }
    }

    .product-price-wrapper {
        color: var(--product-price-color);
        font-weight: 600;

        .has-element-loader & {
            font-size: 0;

            * {
                opacity: 0;
            }
        }
    }

    .product-price {
        color: inherit;
        line-height: inherit;
        font-size: inherit;
        font-weight: inherit;
        margin: 0;
        min-height: auto;
    }
}