.search-suggest-container {
    --padding-y: 0;
    --padding-x: 0;
    --max-width: none;
    --flex-basis: 100%;
    --grid-gap: var(--gap);
    --suggest-border-radius: var(--border-radius);
    --suggest-product-border-radius: var(--border-radius);
    --shadow: 0 10px 25px -15px #000;
    top: calc(100% + var(--gap));
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: var(--padding-y) var(--padding-x);
    border-color: var(--border-color);
    border-radius: var(--suggest-border-radius);
    font-size: var(--font-size-sm);
    max-width: var(--max-width);
    box-shadow: var(--shadow);
    gap: var(--grid-gap);

    &:after {
        border-color: var(--border-color);
    }
}

.search-suggest-product {
    flex: 1 1 var(--flex-basis);
    background-color: var(--suggest-product-bg);
    border-radius: var(--suggest-product-border-radius);
    transition: all .2s;

    &:hover {
        background-color: var(--suggest-product-hover-bg);
    }
}

.search-suggest-product-image-container {
    width: auto;
    height: auto;
    margin: 0;
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius);
    background-color: var(--product-image-bg);
    padding: var(--product-image-padding-y) var(--product-image-padding-x);
    font-weight: var(--font-weight);
}

.search-suggest-product-image {
    max-width: none;
    max-height: none;
}

.search-suggest-product-link {
    --padding-y: var(--gap);
    --padding-x: var(--gap);
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    gap: var(--gap);
    padding: var(--padding-y) var(--padding-x);
}

.search-suggest-product-price {
    text-align: inherit;
}

.search-suggest-product-name {
    white-space: normal;
    overflow: visible;
}

.search-suggest-total {
    --flex-basis: 100%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    padding: var(--gap);
    flex: 1 1 var(--flex-basis);
}

.search-suggest-total-link {
    display: flex;
    align-items: center;
    gap: var(--gap);

    .icon {
        @include iconSize(var(--icon-size));
    }
}