@mixin cssVarByMap($property, $map) {
    @each $key, $value in $map {
        @if $key == default {
            --#{$property}: #{$value};
        } @else {
            --#{$property}-#{$key}: #{$value};
        }
    }
}

@mixin cssVarsQuantityField() {
    --quantity-field-border-color: var(--border-color);
    --quantity-field-btn-padding: var(--gap-sm);
    --quantity-field-input-padding: var(--gap-xs);
    --quantity-field-input-min-width: 42px;
    --quantity-field-font-size: var(--font-size-sm);
    --quantity-field-icon-size: var(--icon-size-xs);
    --quantity-field-icon-color: var(--input-icon-color);
}